/* CSS Navbar */
.main-navbar{
    width: 100%;
    margin: auto 0;
    }


.liste-navbar {
    display: flex;
    list-style-type:none;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    position: relative;  
}

.items {
    cursor: pointer;
}
    
.btn {
    display: none;
}


    
  @media screen and  (max-width: 500px) {
        .main-navbar{    
            position: fixed;
            top: 70px;
            width: 100%;
            margin: auto 0;

            
        }
        .liste-navbar{
            flex-direction: column;
            min-height: calc(100vh - 140px);
            background-color:var(--bg-color);
        }
    
        
        .btn {
        border: 0; 
        background: transparent;
        Display: block;
        position: fixed ;
        right: 10px;
        bottom: 90px;
        color:#333;
        cursor: pointer;
    }
    
}
    