.Modale-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color-opacity);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    border: none;
    white-space: normal;
    z-index: 15;
}

.Card-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 80%;
}