/* https://javisperez.github.io/tailwindcolorshades/?scampi=5456a3&smalt=262d88 /
/ https://javisperez.github.io/tailwindcolorshades/?corn-harvest=9a7423&marigold=c89d3e */

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700%7CSansita+One);

:root {
  --primary-color: #262d88;
  --secondary-color: #9a7423;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-theme="light"] {
  --primary-color: #5456a3;
  --secondary-color: #c89d3e;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(10px + 2vmin);
  /* //full bg image // */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {

}