:root {
  --primary-color: #5456a3;
  --secondary-color: #c89d3e;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

[data-theme="light"] {
  --primary-color: #262d88;
  --secondary-color: #9a7423;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  max-width: 100%;
  margin: 0 auto;
  font-size: calc(1rem + 0.25vh);
}

