@media screen and (max-width: 875px) {
  .landscape {
  }
}
.Game-Arena {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/Game/arena.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100% 100%;
}
.Game-Over {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/Game/defeat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% auto;
}
